# Dependencies
node_modules/

# Astro build output
.astro/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Editors/IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Caches
.cache/
.parcel-cache/
.eslintcache
.turbo/

# Misc
coverage/
*.local
